@model BooksManagementService.DataTransferObjects.BookDto

<h2>Add book</h2>

<link rel="stylesheet" type="text/css" href="~/CSS/Books/add_book_page_styles.css" />
<form id="addBookForm">
    <div>
        <label>Book Title</label>
        <input type="text" name="BookTitle" placeholder="Book Title" />
    </div>

    <div>
        <label>ISBN</label>
        <input type="text" name="ISBN" placeholder="ISBN" />
    </div>

    <div>
        <label>Author name</label>
        <input type="text" name="AuthorName" placeholder="Author name" />
    </div>
    
    <div>
        <label>Author last name</label>
        <input type="text" name="AuthorLastName" placeholder="Author last name" />
    </div>

    <div>
        <label>Genre</label>
        <select name="Genre">
            @foreach (var genre in ViewBag.Genres)  
            {
                <option value="@genre.Value" @(genre.Selected ? "selected" : "")>
                    @genre.Text  
                </option>
            }
        </select>
    </div>

    <div>
        <label>Description</label>
        <input type="text" name="Description" placeholder="Description" />
    </div>

    <div>
        <label>Amount</label>
        <input type="text" name="Amount" placeholder="Amount" />
    </div>

    <button type="button" onclick="submitForm()">Add</button>
</form>

<script>
    async function submitForm() {
        const form = document.getElementById('addBookForm');

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        const genreAsString = data.Genre;   
        const genreAsNumber = {
            "All": 0,
            "Adventures": 1,
            "LoveStories": 2,
            "Horrors": 3,
            "FairyTales": 4
        }[genreAsString] || null
        const bookData = {
            BookTitle: data.BookTitle,
            ISBN: data.ISBN,
            AuthorName: data.AuthorName, 
            AuthorLastName: data.AuthorLastName, 
            Genre: genreAsNumber,
            Description: data.Description,
            Amount: parseInt(data.Amount)
        };
        try {
            const response = await fetch(`/api/books/add`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(bookData)
            });
            if (response.ok) {
                const booksResponse = await fetch('/api/books/GetBooks', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                    }
                });
                if (booksResponse.ok)
                    window.location.href = '/api/books/admin';
                else {
                    alert("Failed to load list of books");
                }
            } else {
                alert("Failed to add the book. Please try again.");
            }
        } catch (error) {
            alert("An error occurred. Please try again later.");
        }
    }
</script>
